* {
    padding: 0%;
    margin: 0%;
}

.main {
    background: blue;
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: start;
    gap: 30px;
    align-items: center;

}

.btn img {
    width: 20px;
    height: 20px;

}

.btn a {
    color: white;
    text-decoration: none;

}

.heading {
    width: 170%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    color: white;
}

.link {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: white;
    width: 188%;
    padding: 20px;
    align-items: center;
    border-top-left-radius: 100px;
}

.link a {
    text-decoration: none;
}

.link img {
    width: 40px;
    height: 40px;

}

.link button {
    color: white;
    background-color: rgb(7, 7, 220);
    border-radius: 5px;
    border: none;
    padding: 20px;
}

.sec {
    height: 120vh;
    padding: 40px;
    background-color: black;
    background-image: url(back6.avif);
}

.content h3 {
    font-size: 30px;
    margin-top: 60px;
    margin-left: 250px;
    color: white;
}

.content h1 {
    font-size: 120px;
    margin-left: 250px;
    margin-top: 20px;
    color: white;

}

.content p {
    font-size: 20px;
    margin-left: 250px;
    margin-top: 30px;
    color: aliceblue;
}

.content button {
    padding: 20px 40px;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    border: 1px solid blue;
}

.content button:hover {
    background-color: blue;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 30px;
    padding: 60px;
}

.box-1 {
    background: rgb(236, 235, 233);
    padding: 20px;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.box-1 img {
    margin-top: 30px;
    margin-left: 15px;

}

.box-1 h4 {
    margin-top: 30px;
    margin-left: 15px;

}

.box-1 p {

    margin-top: 20px;
    margin-left: 15px;
    color: #9297a0;

}

.box-1 button {

    margin-top: 20px;
    margin-left: 15px;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid blue;
    background-color: white;
}

.box-1 button:hover {
    background-color: blue;
    color: white;
}

.box-1:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);

}

section {
    background-color: aqua;
    height: 230vh;
}

.pic-1 {
    padding-top: 450px;
    padding-left: 410px;

}

.pic-2 {
    margin-top: -470px;
    padding-left: 130px;
}

.pic-3 {
    padding-left: 120px;
    margin-top: -20px;
}

.pic-4 {

    font-size: 35px;
    margin-left: 300px;
    margin-right: 750px;
    margin-top: -410px;
    background-color: white;
    border-radius: 10px;

}

.pic-4 h3 {
    color: white;
}



.about {
    margin-left: 790px;
    margin-top: -800px;
}

.about h4 {
    color: blue;
    font-size: 25px;
}

.about h1 {
    margin-top: 20px;
}

.about p {
    margin-top: 30px;
    color: #9297a0;

}

.check {
    margin-top: 30px;
    font-size: 20px;
}

.bulb {
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 90px;
    margin-top: 40px;
    box-shadow: 10px;
    align-items: center;
}

.bulb img {
    height: 50px;
    width: 50px;
    padding-top: 10px;

}

.bulb p {
    color: black;
    font-size: 18px;
}

.last {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.last button {
    padding: 20px 40px;
    border-radius: 10px;
    border: 1px solid blue;
    background-color: white;
    margin-top: 40px;
}

.last img {
    width: 60px;
    height: 60px;
    margin-top: 35px;
}

.last button:hover {
    background-color: blue;
    color: white;

}